-- MariaDB dump 10.19  Distrib 10.4.24-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: turnoprod
-- ------------------------------------------------------
-- Server version	10.4.24-MariaDB
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO,POSTGRESQL' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table "blocked_dates"
--

DROP TABLE IF EXISTS "blocked_dates";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "blocked_dates" (
  "id" int(10) unsigned NOT NULL,
  "name" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "date" date DEFAULT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  "deleted_at" timestamp NULL DEFAULT NULL,
  PRIMARY KEY ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "blocked_dates"
--

LOCK TABLES "blocked_dates" WRITE;
/*!40000 ALTER TABLE "blocked_dates" DISABLE KEYS */;
INSERT INTO "blocked_dates" VALUES (1,'Fecha bloqueada','2021-06-21','2021-06-15 03:41:08','2021-06-15 03:41:08',NULL),(2,'asd','2021-09-15','2021-06-15 03:41:24','2021-08-01 20:14:10',NULL),(3,'Fecha bloqueada','2021-08-18','2021-06-15 03:41:08','2021-08-01 20:13:59',NULL);
/*!40000 ALTER TABLE "blocked_dates" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "categories"
--

DROP TABLE IF EXISTS "categories";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "categories" (
  "id" int(10) unsigned NOT NULL,
  "name" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "parentCategory" int(11) DEFAULT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  "deleted_at" timestamp NULL DEFAULT NULL,
  "image" varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "categories"
--

LOCK TABLES "categories" WRITE;
/*!40000 ALTER TABLE "categories" DISABLE KEYS */;
/*!40000 ALTER TABLE "categories" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "establishments"
--

DROP TABLE IF EXISTS "establishments";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "establishments" (
  "id" int(10) unsigned NOT NULL,
  "enabled" tinyint(1) NOT NULL DEFAULT 1,
  "category_id" int(10) unsigned NOT NULL,
  "subcategory_id" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "name" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "logo" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "stepping" int(11) NOT NULL,
  "street" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "num_ext" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "num_int" varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "postal_code" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "zone" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "city" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "state" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "country" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "latitude" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "longitude" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "email" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "phone" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "holidays_extra" varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "holidays_official" tinyint(1) NOT NULL DEFAULT 1,
  "help_tooltip" tinyint(1) NOT NULL DEFAULT 1,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  "deleted_at" timestamp NULL DEFAULT NULL,
  PRIMARY KEY ("id"),
  KEY "establishments_category_id_foreign" ("category_id"),
  CONSTRAINT "establishments_category_id_foreign" FOREIGN KEY ("category_id") REFERENCES "categories" ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "establishments"
--

LOCK TABLES "establishments" WRITE;
/*!40000 ALTER TABLE "establishments" DISABLE KEYS */;
/*!40000 ALTER TABLE "establishments" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "failed_jobs"
--

DROP TABLE IF EXISTS "failed_jobs";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "failed_jobs" (
  "id" bigint(20) unsigned NOT NULL,
  "uuid" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "connection" text COLLATE utf8mb4_unicode_ci NOT NULL,
  "queue" text COLLATE utf8mb4_unicode_ci NOT NULL,
  "payload" longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  "exception" longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  "failed_at" timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY ("id"),
  UNIQUE KEY "failed_jobs_uuid_unique" ("uuid")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "failed_jobs"
--

LOCK TABLES "failed_jobs" WRITE;
/*!40000 ALTER TABLE "failed_jobs" DISABLE KEYS */;
/*!40000 ALTER TABLE "failed_jobs" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "helps"
--

DROP TABLE IF EXISTS "helps";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "helps" (
  "id" int(10) unsigned NOT NULL,
  "status_help_id" int(10) unsigned NOT NULL,
  "user_id" bigint(20) NOT NULL,
  "help_type" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "description" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  "deleted_at" timestamp NULL DEFAULT NULL,
  PRIMARY KEY ("id"),
  KEY "helps_status_help_id_foreign" ("status_help_id"),
  CONSTRAINT "helps_status_help_id_foreign" FOREIGN KEY ("status_help_id") REFERENCES "status_turnos" ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "helps"
--

LOCK TABLES "helps" WRITE;
/*!40000 ALTER TABLE "helps" DISABLE KEYS */;
INSERT INTO "helps" VALUES (1,1,9,'AGRADECIMIENTO','Esta es una prueba','2021-06-08 22:42:17','2021-06-08 22:42:17',NULL),(2,1,9,'AGRADECIMIENTO','Esta es una prueba','2021-06-08 22:43:43','2021-06-08 22:43:43',NULL),(3,1,9,'DUDAS','Esta es una prueba','2021-06-08 22:47:07','2021-06-08 22:47:07',NULL),(4,1,9,'DUDAS','Esta es una prueba','2021-06-08 22:47:27','2021-06-08 22:47:27',NULL),(5,1,9,'DUDAS','Esta es una prueba','2021-06-08 22:47:59','2021-06-08 22:47:59',NULL),(6,1,9,'RECOMENDACION','ncjcjc','2021-06-08 22:55:31','2021-06-08 22:55:31',NULL);
/*!40000 ALTER TABLE "helps" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "migrations"
--

DROP TABLE IF EXISTS "migrations";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "migrations" (
  "id" int(10) unsigned NOT NULL,
  "migration" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "batch" int(11) NOT NULL,
  PRIMARY KEY ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "migrations"
--

LOCK TABLES "migrations" WRITE;
/*!40000 ALTER TABLE "migrations" DISABLE KEYS */;
/*!40000 ALTER TABLE "migrations" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "model_has_permissions"
--

DROP TABLE IF EXISTS "model_has_permissions";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "model_has_permissions" (
  "permission_id" bigint(20) unsigned NOT NULL,
  "model_type" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "model_id" bigint(20) unsigned NOT NULL,
  PRIMARY KEY ("permission_id","model_id","model_type"),
  KEY "model_has_permissions_model_id_model_type_index" ("model_id","model_type"),
  CONSTRAINT "model_has_permissions_permission_id_foreign" FOREIGN KEY ("permission_id") REFERENCES "permissions" ("id") ON DELETE CASCADE
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "model_has_permissions"
--

LOCK TABLES "model_has_permissions" WRITE;
/*!40000 ALTER TABLE "model_has_permissions" DISABLE KEYS */;
/*!40000 ALTER TABLE "model_has_permissions" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "model_has_roles"
--

DROP TABLE IF EXISTS "model_has_roles";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "model_has_roles" (
  "role_id" bigint(20) unsigned NOT NULL,
  "model_type" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "model_id" bigint(20) unsigned NOT NULL,
  PRIMARY KEY ("role_id","model_id","model_type"),
  KEY "model_has_roles_model_id_model_type_index" ("model_id","model_type"),
  CONSTRAINT "model_has_roles_role_id_foreign" FOREIGN KEY ("role_id") REFERENCES "roles" ("id") ON DELETE CASCADE
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "model_has_roles"
--

LOCK TABLES "model_has_roles" WRITE;
/*!40000 ALTER TABLE "model_has_roles" DISABLE KEYS */;
/*!40000 ALTER TABLE "model_has_roles" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "oauth_access_tokens"
--

DROP TABLE IF EXISTS "oauth_access_tokens";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "oauth_access_tokens" (
  "id" varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  "user_id" bigint(20) unsigned DEFAULT NULL,
  "client_id" bigint(20) unsigned NOT NULL,
  "name" varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "scopes" text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "revoked" tinyint(1) NOT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  "expires_at" datetime DEFAULT NULL,
  PRIMARY KEY ("id"),
  KEY "oauth_access_tokens_user_id_index" ("user_id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "oauth_access_tokens"
--

LOCK TABLES "oauth_access_tokens" WRITE;
/*!40000 ALTER TABLE "oauth_access_tokens" DISABLE KEYS */;
/*!40000 ALTER TABLE "oauth_access_tokens" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "oauth_auth_codes"
--

DROP TABLE IF EXISTS "oauth_auth_codes";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "oauth_auth_codes" (
  "id" varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  "user_id" bigint(20) unsigned NOT NULL,
  "client_id" bigint(20) unsigned NOT NULL,
  "scopes" text COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "revoked" tinyint(1) NOT NULL,
  "expires_at" datetime DEFAULT NULL,
  PRIMARY KEY ("id"),
  KEY "oauth_auth_codes_user_id_index" ("user_id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "oauth_auth_codes"
--

LOCK TABLES "oauth_auth_codes" WRITE;
/*!40000 ALTER TABLE "oauth_auth_codes" DISABLE KEYS */;
/*!40000 ALTER TABLE "oauth_auth_codes" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "oauth_clients"
--

DROP TABLE IF EXISTS "oauth_clients";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "oauth_clients" (
  "id" bigint(20) unsigned NOT NULL,
  "user_id" bigint(20) unsigned DEFAULT NULL,
  "name" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "secret" varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "provider" varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "redirect" text COLLATE utf8mb4_unicode_ci NOT NULL,
  "personal_access_client" tinyint(1) NOT NULL,
  "password_client" tinyint(1) NOT NULL,
  "revoked" tinyint(1) NOT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  PRIMARY KEY ("id"),
  KEY "oauth_clients_user_id_index" ("user_id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "oauth_clients"
--

LOCK TABLES "oauth_clients" WRITE;
/*!40000 ALTER TABLE "oauth_clients" DISABLE KEYS */;
INSERT INTO "oauth_clients" VALUES (1,NULL,'Turno Personal Access Client','sNgRMcQzBqVMh8doxaQFoPFePSnlZNRQEMYOQQ6b',NULL,'http://localhost',1,0,0,'2021-04-04 02:00:51','2021-04-04 02:00:51'),(2,NULL,'Turno Password Grant Client','fXTGZZtcIKKADdrGEKOqUvc0WfIj8UhSV8lpPbRZ','users','http://localhost',0,1,0,'2021-04-04 02:00:51','2021-04-04 02:00:51');
/*!40000 ALTER TABLE "oauth_clients" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "oauth_personal_access_clients"
--

DROP TABLE IF EXISTS "oauth_personal_access_clients";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "oauth_personal_access_clients" (
  "id" bigint(20) unsigned NOT NULL,
  "client_id" bigint(20) unsigned NOT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  PRIMARY KEY ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "oauth_personal_access_clients"
--

LOCK TABLES "oauth_personal_access_clients" WRITE;
/*!40000 ALTER TABLE "oauth_personal_access_clients" DISABLE KEYS */;
INSERT INTO "oauth_personal_access_clients" VALUES (1,1,'2021-04-04 02:00:51','2021-04-04 02:00:51');
/*!40000 ALTER TABLE "oauth_personal_access_clients" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "oauth_refresh_tokens"
--

DROP TABLE IF EXISTS "oauth_refresh_tokens";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "oauth_refresh_tokens" (
  "id" varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  "access_token_id" varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  "revoked" tinyint(1) NOT NULL,
  "expires_at" datetime DEFAULT NULL,
  PRIMARY KEY ("id"),
  KEY "oauth_refresh_tokens_access_token_id_index" ("access_token_id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "oauth_refresh_tokens"
--

LOCK TABLES "oauth_refresh_tokens" WRITE;
/*!40000 ALTER TABLE "oauth_refresh_tokens" DISABLE KEYS */;
/*!40000 ALTER TABLE "oauth_refresh_tokens" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "password_resets"
--

DROP TABLE IF EXISTS "password_resets";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "password_resets" (
  "email" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "token" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  KEY "password_resets_email_index" ("email")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "password_resets"
--

LOCK TABLES "password_resets" WRITE;
/*!40000 ALTER TABLE "password_resets" DISABLE KEYS */;
INSERT INTO "password_resets" VALUES ('franco@admin.com','$2y$10$nfn8QTdtHWUo1qEKC1hvwOVtoaoRONZQOhmZU6QFSiOtc113KzSl.','2021-06-03 04:42:08'),('aldouli6@gmail.com','$2y$10$VweM4PD.ca6K6U8EpkNoqu1xQ5AxAp9KsCkj.KBZyOVm1XJcq4EmW','2021-06-04 01:19:56');
/*!40000 ALTER TABLE "password_resets" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "permissions"
--

DROP TABLE IF EXISTS "permissions";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "permissions" (
  "id" bigint(20) unsigned NOT NULL,
  "name" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "guard_name" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  PRIMARY KEY ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "permissions"
--

LOCK TABLES "permissions" WRITE;
/*!40000 ALTER TABLE "permissions" DISABLE KEYS */;
/*!40000 ALTER TABLE "permissions" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "prospects"
--

DROP TABLE IF EXISTS "prospects";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "prospects" (
  "id" int(10) unsigned NOT NULL,
  "name" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "owner" varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "image" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "latitude" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "longitude" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "address" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "phone" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "sent_wa" tinyint(1) NOT NULL DEFAULT 0,
  "facebook" varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "sent_fb" tinyint(1) NOT NULL DEFAULT 0,
  "instagram" varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "sent_ig" tinyint(1) NOT NULL DEFAULT 0,
  "notes" varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  "deleted_at" timestamp NULL DEFAULT NULL,
  PRIMARY KEY ("id"),
  UNIQUE KEY "prospects_name_unique" ("name")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "prospects"
--

LOCK TABLES "prospects" WRITE;
/*!40000 ALTER TABLE "prospects" DISABLE KEYS */;
/*!40000 ALTER TABLE "prospects" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "relation_resource_sessions"
--

DROP TABLE IF EXISTS "relation_resource_sessions";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "relation_resource_sessions" (
  "id" int(10) unsigned NOT NULL,
  "resource_id" int(10) unsigned NOT NULL,
  "session_id" int(10) unsigned NOT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  "deleted_at" timestamp NULL DEFAULT NULL,
  PRIMARY KEY ("id"),
  KEY "relation_resource_sessions_resource_id_foreign" ("resource_id"),
  KEY "relation_resource_sessions_session_id_foreign" ("session_id"),
  CONSTRAINT "relation_resource_sessions_resource_id_foreign" FOREIGN KEY ("resource_id") REFERENCES "resources" ("id"),
  CONSTRAINT "relation_resource_sessions_session_id_foreign" FOREIGN KEY ("session_id") REFERENCES "sessions" ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "relation_resource_sessions"
--

LOCK TABLES "relation_resource_sessions" WRITE;
/*!40000 ALTER TABLE "relation_resource_sessions" DISABLE KEYS */;
/*!40000 ALTER TABLE "relation_resource_sessions" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "resources"
--

DROP TABLE IF EXISTS "resources";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "resources" (
  "id" int(10) unsigned NOT NULL,
  "enabled" tinyint(1) NOT NULL DEFAULT 1,
  "establishment_id" int(10) unsigned NOT NULL,
  "name" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "selectable" tinyint(1) NOT NULL DEFAULT 1,
  "order_alpha" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'asc',
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  "deleted_at" timestamp NULL DEFAULT NULL,
  PRIMARY KEY ("id"),
  KEY "resources_establishment_id_foreign" ("establishment_id"),
  CONSTRAINT "resources_establishment_id_foreign" FOREIGN KEY ("establishment_id") REFERENCES "establishments" ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "resources"
--

LOCK TABLES "resources" WRITE;
/*!40000 ALTER TABLE "resources" DISABLE KEYS */;
INSERT INTO "resources" VALUES (1,1,1,'Sillon 1',1,'asc','2021-04-01 04:03:19','2021-05-16 08:12:05',NULL),(2,1,1,'Sill├│n 2',1,'asc','2021-04-01 04:03:19','2021-04-01 04:03:19',NULL),(3,0,2,'Recurso 1',1,'1','2021-04-10 20:18:06','2021-04-23 03:41:21',NULL),(4,1,2,'Recurso 2',1,'1','2021-04-10 20:18:06','2021-04-13 00:49:22',NULL),(5,1,6,'El nombre',1,'1','2021-07-15 08:03:58','2021-07-15 22:21:20',NULL),(6,1,9,'Recurso 1',1,'0','2022-03-13 21:36:10','2022-03-21 21:39:02',NULL),(7,1,9,'rec 2',1,'0','2022-03-22 00:49:42','2022-03-28 17:33:18',NULL);
/*!40000 ALTER TABLE "resources" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "role_has_permissions"
--

DROP TABLE IF EXISTS "role_has_permissions";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "role_has_permissions" (
  "permission_id" bigint(20) unsigned NOT NULL,
  "role_id" bigint(20) unsigned NOT NULL,
  PRIMARY KEY ("permission_id","role_id"),
  KEY "role_has_permissions_role_id_foreign" ("role_id"),
  CONSTRAINT "role_has_permissions_permission_id_foreign" FOREIGN KEY ("permission_id") REFERENCES "permissions" ("id") ON DELETE CASCADE,
  CONSTRAINT "role_has_permissions_role_id_foreign" FOREIGN KEY ("role_id") REFERENCES "roles" ("id") ON DELETE CASCADE
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "role_has_permissions"
--

LOCK TABLES "role_has_permissions" WRITE;
/*!40000 ALTER TABLE "role_has_permissions" DISABLE KEYS */;
/*!40000 ALTER TABLE "role_has_permissions" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "roles"
--

DROP TABLE IF EXISTS "roles";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "roles" (
  "id" bigint(20) unsigned NOT NULL,
  "name" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "guard_name" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  PRIMARY KEY ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "roles"
--

LOCK TABLES "roles" WRITE;
/*!40000 ALTER TABLE "roles" DISABLE KEYS */;
INSERT INTO "roles" VALUES (1,'super_admin','web','2021-04-01 04:03:18','2021-04-01 04:03:18'),(2,'preadmin','web','2021-04-01 04:03:18','2021-04-01 04:03:18'),(3,'admin','web','2021-04-01 04:03:18','2021-04-01 04:03:18'),(4,'user','web','2021-04-01 04:03:18','2021-04-01 04:03:18'),(5,'client','web','2021-04-01 04:03:18','2021-04-01 04:03:18');
/*!40000 ALTER TABLE "roles" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "schedules"
--

DROP TABLE IF EXISTS "schedules";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "schedules" (
  "id" int(10) unsigned NOT NULL,
  "enabled" tinyint(1) NOT NULL DEFAULT 1,
  "resource_id" int(10) unsigned NOT NULL,
  "start_hour" time NOT NULL,
  "end_hour" time NOT NULL,
  "sunday" tinyint(1) NOT NULL DEFAULT 0,
  "monday" tinyint(1) NOT NULL DEFAULT 0,
  "tuesday" tinyint(1) NOT NULL DEFAULT 0,
  "wednesday" tinyint(1) NOT NULL DEFAULT 0,
  "thrusday" tinyint(1) NOT NULL DEFAULT 0,
  "friday" tinyint(1) NOT NULL DEFAULT 0,
  "saturday" tinyint(1) NOT NULL DEFAULT 0,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  "deleted_at" timestamp NULL DEFAULT NULL,
  PRIMARY KEY ("id"),
  KEY "schedules_resource_id_foreign" ("resource_id"),
  CONSTRAINT "schedules_resource_id_foreign" FOREIGN KEY ("resource_id") REFERENCES "resources" ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "schedules"
--

LOCK TABLES "schedules" WRITE;
/*!40000 ALTER TABLE "schedules" DISABLE KEYS */;
/*!40000 ALTER TABLE "schedules" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "sessions"
--

DROP TABLE IF EXISTS "sessions";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "sessions" (
  "id" int(10) unsigned NOT NULL,
  "enabled" tinyint(1) NOT NULL DEFAULT 1,
  "establishment_id" int(10) unsigned NOT NULL,
  "name" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "duration" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "cost" double(8,2) NOT NULL,
  "max_days_schedule" int(11) NOT NULL,
  "max_hours_schedule" int(11) NOT NULL,
  "max_minutes_schedule" int(11) NOT NULL,
  "min_days_schedule" int(11) NOT NULL,
  "min_hours_schedule" int(11) NOT NULL,
  "min_minutes_schedule" int(11) NOT NULL,
  "standby_time" time NOT NULL,
  "time_btwn_session" time NOT NULL,
  "end_date" date DEFAULT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  "deleted_at" timestamp NULL DEFAULT NULL,
  "color" varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY ("id"),
  KEY "sessions_establishment_id_foreign" ("establishment_id"),
  CONSTRAINT "sessions_establishment_id_foreign" FOREIGN KEY ("establishment_id") REFERENCES "establishments" ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "sessions"
--

LOCK TABLES "sessions" WRITE;
/*!40000 ALTER TABLE "sessions" DISABLE KEYS */;
/*!40000 ALTER TABLE "sessions" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "status_turnos"
--

DROP TABLE IF EXISTS "status_turnos";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "status_turnos" (
  "id" int(10) unsigned NOT NULL,
  "name" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "description" varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  "deleted_at" timestamp NULL DEFAULT NULL,
  PRIMARY KEY ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "status_turnos"
--

LOCK TABLES "status_turnos" WRITE;
/*!40000 ALTER TABLE "status_turnos" DISABLE KEYS */;
/*!40000 ALTER TABLE "status_turnos" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "turnos"
--

DROP TABLE IF EXISTS "turnos";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "turnos" (
  "id" int(10) unsigned NOT NULL,
  "user_id" bigint(20) NOT NULL,
  "email" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "phone" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "establishment_id" int(10) unsigned NOT NULL,
  "resource_id" int(10) unsigned NOT NULL,
  "session_id" int(10) unsigned NOT NULL,
  "status_turno_id" int(10) unsigned NOT NULL,
  "date" date NOT NULL,
  "start_time" time NOT NULL,
  "end_time" time NOT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  "deleted_at" timestamp NULL DEFAULT NULL,
  PRIMARY KEY ("id"),
  KEY "turnos_establishment_id_foreign" ("establishment_id"),
  KEY "turnos_resource_id_foreign" ("resource_id"),
  KEY "turnos_session_id_foreign" ("session_id"),
  KEY "turnos_status_turno_id_foreign" ("status_turno_id"),
  CONSTRAINT "turnos_establishment_id_foreign" FOREIGN KEY ("establishment_id") REFERENCES "establishments" ("id"),
  CONSTRAINT "turnos_resource_id_foreign" FOREIGN KEY ("resource_id") REFERENCES "resources" ("id"),
  CONSTRAINT "turnos_session_id_foreign" FOREIGN KEY ("session_id") REFERENCES "sessions" ("id"),
  CONSTRAINT "turnos_status_turno_id_foreign" FOREIGN KEY ("status_turno_id") REFERENCES "status_turnos" ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "turnos"
--

LOCK TABLES "turnos" WRITE;
/*!40000 ALTER TABLE "turnos" DISABLE KEYS */;
/*!40000 ALTER TABLE "turnos" ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table "users"
--

DROP TABLE IF EXISTS "users";
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE "users" (
  "id" bigint(20) unsigned NOT NULL,
  "name" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "email" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "email_verified_at" timestamp NULL DEFAULT NULL,
  "password" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "remember_token" varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "created_at" timestamp NULL DEFAULT NULL,
  "updated_at" timestamp NULL DEFAULT NULL,
  "enabled" tinyint(1) NOT NULL DEFAULT 1,
  "establishment_id" int(10) unsigned DEFAULT NULL,
  "api_token" varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "user_name" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT '',
  "ref_code" varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "lastname" varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "imagen" varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "phone" varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  "registration_date" date DEFAULT NULL,
  "phone_verification" varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  "terms" tinyint(1) NOT NULL DEFAULT 0,
  "privacy_notice" tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY ("id"),
  UNIQUE KEY "users_email_unique" ("email"),
  UNIQUE KEY "users_user_name_unique" ("user_name"),
  UNIQUE KEY "users_phone_unique" ("phone"),
  UNIQUE KEY "users_api_token_unique" ("api_token"),
  KEY "users_establishment_id_foreign" ("establishment_id"),
  CONSTRAINT "users_establishment_id_foreign" FOREIGN KEY ("establishment_id") REFERENCES "establishments" ("id")
);
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table "users"
--

LOCK TABLES "users" WRITE;
/*!40000 ALTER TABLE "users" DISABLE KEYS */;
/*!40000 ALTER TABLE "users" ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2022-06-08 15:06:51
